.btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 12px;
}

/* data atribute for type of unselected button */
[data-type="unselected"] {
  background-color: var(--primary);
  color: var(--white);
}

[data-type="unselected"]:hover {
  background-color: var(--secondary);
}

/* data atribute for type of selected button */
[data-type="selected"] {
  background-color: var(white-700);
  color: var(--black);
}

[data-type="selected"]:hover {
  background-color: var(white-300);
}

.btn-action svg {
  width: 44px;
  height: 44px;
  margin-left: 8px;
}
