.playlist {
  margin-top: 24px;
}

.btn__playlist {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding: 8px 24px;
  background-color: transparent;
  color: var(--white-700);

  &:hover {
    color: var(--white);
  }

  span {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1rem;
  }
}

.btn__playlist__icon {
  display: flex;
  margin-right: 8px;
  background-color: var(--white-700);
  color: var(--black);
  border-radius: 2px;
}

.btn__playlist:hover .btn__playlist__icon {
  background-color: var(--white);
}
