.song-description {
  margin-top: 12px;
}

.song-description h2 {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  margin-bottom: 4px;
}

.song-description p {
  color: var(--white-700);
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
}
