.song-description {
  margin: 0 16px;
}

.song-description p {
  color: var(--white-700);
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}

.btn-song {
  width: 100%;
  padding: 16px;
  margin-top: 16px;
  color: white;
  background-color: var(--primary);
}

.btn-song:hover {
  color: white;
  background-color: var(--secondary);
}

/* for tablet min-width : 576px */
@media all and (min-width: 576px) {
  .song-description {
    margin: 24px 0;
  }

  .btn-song {
    width: 250px;
    margin-top: 32px;
  }
}
