.song-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
  border: 1px solid var(--white-100);
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
}
