.song {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 24px 0;
}

.song-info {
  margin-top: 200px;
  text-align: center;
}

.song-info h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.song-info p {
  font-size: 1rem;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* for tablet min-width : 576px */
@media all and (min-width: 576px) {
  .song {
    gap: 12px;
  }
}
