.song {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.song-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--black);
  border: 1px solid var(--white-100);
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
}

/* for tablet min-width : 576px */
@media all and (min-width: 576px) {
  .song {
    gap: 12px;
  }
}
