.song {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 24px 0;

  /* for tablet min-width : 576px */
  @media all and (min-width: 576px) {
    gap: 1.3rem;
  }
}

.btn__action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 12px;

  /* data atribute for type of unselected button */
  &[data-type='unselected'] {
    background-color: var(--primary);
    color: var(--white);
  }

  &[data-type='unselected']:hover {
    background-color: var(--secondary);
  }

  /* data atribute for type of selected button */
  &[data-type='selected'] {
    background-color: var(--white);
    color: var(--black);
  }

  &[data-type='selected']:hover {
    background-color: var(--white-700);
  }
}
